<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Handjet:wght@400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Handjet:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/navbar.css">
</head>
<body>
    <nav class="navbar">
        <div id="header-name"><p><a href="/">Ishaan</a></p></div>
        <div class="nav-links">
            <a class="links" href="#skills">Skills</a>
            <a class="links" href="#works">Works</a>
            <a class="links" href="#toolset">Toolset</a>
            <a class="links" href="/contact">Contact Me</a>
        </div>
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </nav>


    <div class="intro-container">
        <div class="top-image">
            <img src="assets/images/studying.png" alt="Studying" class="study-image">
        </div>
        <div class="intro-head">
           <p class="p1">I am <span class="intro-name">Ishaan Mishra</span>.<br>
            I am a Computer Science Sophomore at <span class="intro-name">KIIT University</span>, Bhubaneshwar, India.</p>
        </div>
        
        <div class="intro-body">
            <p class="p2">I am currently learning Web Developement and going to learn DS and Algo next due to my keen interest in Competitive coding And course syllabus ofcourse✌️.</p>
        </div>
    </div>
    <hr class="intro-hr">
    <div id="skills">
        <h1 class="inner-titles">My Skills:</h1>
    <div class="skill-upper-layer">
        <div class="skill-info">
            <img class="image-skill" src="/assets/images/c-.png" alt="C++">
            <h2 class="secondary-titles">C++</h2>
        </div>
        <div class="skill-info">
            <img class="image-skill" src="/assets/images/html-5.png" alt="HTML">
            <h2 class="secondary-titles">HTML</h2>
        </div>
        <div class="skill-info">
            <img class="image-skill" src="/assets/images/css-3.png" alt="CSS">
            <h2 class="secondary-titles">CSS</h2>
        </div>
        <div class="skill-info">
            <img class="image-skill" src="/assets/images/js.png" alt="Javascript">
            <h2 class="secondary-titles">Javascript</h2>
        </div>
        </div>
        <div class="skill-lower-layer">
        <div class="skill-info">
            <img class="image-skill" src="/assets/images/database-storage.png" alt="MongoDB">
            <h2 class="secondary-titles">MongoDB</h2>
        </div>
        <div class="skill-info">
            <img class="image-skill" src="/assets/images/nodejs.png" alt="NOdeJS">
            <h2 class="secondary-titles">NodeJS</h2>
        </div>
        <div class="skill-info">
            <img class="image-skill" src="/assets/images/atom.png" alt="ReactJS">
            <h2 class="secondary-titles">ReactJS</h2>
        </div>
        <div class="skill-info">
            <img class="image-skill" src="/assets/images/linux.png" alt="Linux">
            <h2 class="secondary-titles">Linux CLI</h2>
        </div>
    </div>
    </div>
   
<hr class="intro-hr">
<div id="works">
        <h1 class="inner-titles">Works as of <%= date %>-<%=month%>-<%=year%>:</h1>
        <div class="top-image"><img src="assets/images/keyboard-smash.png" alt="working" class="work-image"></div>
</div>
<script src="scripts/script.js"></script>
</body>
</html>