* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.navbar{
    display: flex;
    justify-content: space-between;
}
.navbar p{
    overflow: auto;
    margin: 0;
    padding: 1vh 1vh;
}
.navbar p a{
    text-decoration: none;
    color: black;
}
.header-name{
    font-family: 'Caveat', cursive;
    font-size: 6vw;
    align-items: end;
    
}
.intro-name{
    font-size: 6vw;
    font-family: 'Handjet', cursive;
}
.right-nav{
    font-size: 2vw;
    font-family: 'Caveat', cursive;
    display: flex;
    align-items: center;
}
.right-nav a:hover{
    color: darkorchid;
    font-size: 2.1vw;
}
.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color:black;
}
.intro-container{
    padding: 25vh 5vw 25vh 5vw;
}
.intro-body {
    font-size: 1.5vw;
	margin-top: 4vh;
	width: 50vw;
	opacity: .5;
	line-height: 4vh;
}
.intro-hr{
	margin: 0 auto;
}
.inner-titles{
    font-family: 'Caveat', cursive;
    font-size: 3vw;
}
.intro-head{
    font-size: 2.75vh;
    width: 50vw;
}

.skill-upper-layer{
    display: flex;
    margin-bottom: 20px;
    justify-content: space-evenly;

}
.skill-lower-layer{
    display: flex;
    justify-content: space-evenly;
}
.skill-info{
    /* flex: 100px; */
    text-align: center;
}
.image-skill{
    height: 4vw;
    width: 4vw;
}
.secondary-titles{
    font-family: 'Handjet', cursive;
    /* text-align: center; */
    
}
.tab{
    width: 125px;
    text-align: center;
}
@media(max-width:768px){
    .hamburger{
        display: block;
    }
    .hamburger.active.bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active.bar:nth-child(1){
       transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active.bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .right-nav{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    .tab{
        margin: 16px 0;
    }
    .right-nav.active{
        left: 0;
    }
}
