* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.intro-name{
    font-size: 6vh;
    font-family: 'Handjet', cursive;
}

.intro-container{
    padding: 2.5vh 0vw 0vh 0vw;
}
.intro-body {
    font-size: 3vh;
	margin-top: 4vh;
	/* width: 50vw; */
	opacity: .5;
	line-height: 4vh;
    
}
.intro-hr{
	margin: 0 auto;
}
.inner-titles{
    font-family: 'Caveat', cursive;
    font-size: 3vw;
}
.intro-head{
    font-size: 2.75vh;
    display: flex;
    justify-content: space-evenly;
    /* width: 50vw; */
}

.skill-upper-layer{
    display: flex;
    margin-bottom: 20px;
    justify-content: space-evenly;

}
.skill-lower-layer{
    display: flex;
    justify-content: space-evenly;
}
.skill-info{
    /* flex: 100px; */
    text-align: center;
}
.image-skill{
    height: 4vw;
    width: 4vw;
}
.secondary-titles{
    font-family: 'Handjet', cursive;
    /* text-align: center; */
    
}
.tab{
    width: 125px;
    text-align: center;
}
.contact-form {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff; /* Set form background color */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}

.contact-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333; /* Set label color */
}

.contact-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc; /* Set input border color */
    border-radius: 4px;
}

.contact-form button {
    background-color: #4CAF50; /* Set button background color */
    color: #fff; /* Set button text color */
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.study-image {
    border-radius: 50%;
    width: 300px; /* Adjust the size as needed */
    height: 300px;
}
.top-image{
    display: flex;
    align-items: end;
    justify-content: space-evenly;
}
.work-image{
    width: 300px; /* Adjust the size as needed */
    height: 300px;
}
